From [spatialize.js](../spatialize.js), we see we need three columns, corresponding to x, y, and z:
```
function set_trajectory(){
  x_pos = data[ctr][0];
  y_pos = data[ctr][1];
  z_pos = data[ctr][2];

  // Set the source position relative to the room center (source default position).
  source.setPosition(x_pos, y_pos, z_pos);

}
```

We also see that the trajectory is update every 0.1s:
```
function update_trajectory()
{
  if (audioContext.currentTime > next_update_time){
    ctr = ctr + 1;
    set_trajectory();
    console.log("Update no: %d at: %f", ctr, audioContext.currentTime - start_time);
    next_update_time = next_update_time + 0.1;
  }

  if (ctr == ctr_max - 1){
    clearInterval(intID);
    setTimeout(stop_stuff, 300);
  }

}
```

Therefore, we need to make a CSV with:
- three columns, for x, y, and z positions
- one row per 0.1s sample

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame()

In [17]:
t_step = 0.1
duration = 25*60 # 25 minutes 39 seconds 
tt = np.arange(0, duration, t_step)
tt

array([0.0000e+00, 1.0000e-01, 2.0000e-01, ..., 1.4997e+03, 1.4998e+03,
       1.4999e+03])

In [18]:
df['time_s'] = tt

We want to place a source 45 degrees to the left:

In [19]:
source_az_deg = 180-45
#source_az_deg = 45

az_deg = [source_az_deg]*len(tt)
az_rad = np.array(az_deg) * np.pi / 180 

xx = np.cos(az_rad)
yy = np.sin(az_rad)
zz = 0 # no elevation

In [20]:
df['x'] = xx
df['y'] = yy
df['z'] = zz
df

       time_s         x         y  z
0         0.0 -0.707107  0.707107  0
1         0.1 -0.707107  0.707107  0
2         0.2 -0.707107  0.707107  0
3         0.3 -0.707107  0.707107  0
4         0.4 -0.707107  0.707107  0
...       ...       ...       ... ..
14995  1499.5 -0.707107  0.707107  0
14996  1499.6 -0.707107  0.707107  0
14997  1499.7 -0.707107  0.707107  0
14998  1499.8 -0.707107  0.707107  0
14999  1499.9 -0.707107  0.707107  0

[15000 rows x 4 columns]

In [21]:
df[['x', 'y', 'z']].to_csv(
    f'az-{source_az_deg}-deg_dur-{duration}-s_step-{t_step}-s.csv',
    header = False, # skip showing column names 
    index = False, # skip row indices
)